<!--Esse template herda no extends o layout.html
ELe tem estruturas básicas de layout-->

{% extends 'layout.html' %}


{% block title %}

    Sobre a 



{% endblock %}

{% block content %}
<h1>Sobre buraco negro</h1>

<p>Conteúdo de página sobre buraco negro
    Buracos negros são regiões do espaço-tempo com uma gravidade tão extrema que nada, nem mesmo a luz, consegue escapar de sua atração. Eles se formam pelo colapso de estrelas gigantes e possuem um limite chamado "horizonte de eventos", a fronteira de não retorno. No centro, a matéria é comprimida em uma singularidade de densidade infinita.
</p>
{% endblock %}